@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans&display=swap');

* {
    box-sizing : border-box;
}

body {
    background-color: #242333;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    
}
